.topo {
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  text-align: center;
  font-size: 150%;
  background-color: #120f9e;
  color: #ffffff;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  margin: 0;
  position: fixed;
  /* Define a posição fixa */
  top: 0;
  /* Fixa a barra de navegação no topo */
  left: 0;
  /* Fixa a barra de navegação na lateral esquerda */
  z-index: 1000;
  /* Garante que a barra de navegação esteja acima de outros elementos */
}

body {
  background-color: white;
  color: #676767;
}

.principal {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.leitura {
  display: flex;
  align-items: center;
}

.leitura12 button {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 05%;
  margin-top: 10px;
  background-color: green;
  padding: 10px 10px;
  color: #f9f9f9;
  margin-left: 17%;
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.caixinha {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
  font-size: 75%;
  color: rgb(95, 95, 95);
  border: 1px solid;
}

.leitura button {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente os elementos dentro do contêiner .leitura */
  /* Mantém o espaçamento superior */
  padding: 10px 20px;
  background-color: #ffffff;
  color: #676767;
  border: 1px solid #67676770;
  border-radius: 10px;
  cursor: pointer;
}

.box {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #333;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.inputtext {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #676767;
  border: 1px solid #67676770;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 10px;
}

.button-container button:last-child {
  margin-right: 0;
}

.titulo {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

.box {
  border: 0.1rem solid #67676770;
  /* Convertido para rem */
  border-radius: 1rem;
  /* Convertido para rem */
  padding: 1rem;
  /* Convertido para rem */
  margin-bottom: 1.5rem;
  /* Convertido para rem */
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textointerno {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputtext,
.inputtextG {
  width: 95%;
  padding: 0.5rem;
  padding-right: 0px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textointerno {
  margin-right: 10%;
}

input[type='radio'] {
  transform: scale(1.5);
  margin-left: 1%;
}

.inputtextG {
  height: 100px;
}

.data {
  color: #676767d0;
  font-size: 110%;
  border: 1px solid #67676770;
  border-radius: 5px;
  width: auto;
  font-family: Helvetica, sans-serif;
  margin-bottom: 3%;
  margin-top: 3%;
}

.box ul,
.box ol {
  list-style-type: none;
}

.box li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  input {
    margin-bottom: 0.5rem;
  }
}

.radios_status {
  label {
    margin: 0 0.5rem;
  }
  input:last-child {
    margin-left: 1rem;
  }
}
.centralizado {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.leitura button span {
  display: flex;
  gap: 0.5rem;
}

.base h6 {
  margin-top: 100%;
  color: #676767;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  background-color: #120f9e;
  color: #ffffff;
  border: 1px solid #67676756;
  border-radius: 10px;
  cursor: pointer;
}

.topo {
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  text-align: center;
  font-size: 150%;
  background-color: #120f9e;
  color: #ffffff;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  margin: 0;
  position: fixed; /* Define a posição fixa */
  top: 0; /* Fixa a barra de navegação no topo */
  left: 0; /* Fixa a barra de navegação na lateral esquerda */
  z-index: 1000; /* Garante que a barra de navegação esteja acima de outros elementos */
}

body {
  background-color: white;
  color: #676767;
}

.principal {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.leitura12 button {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 05%;
  margin-top: 10px;
  background-color: green;
  padding: 10px 10px;
  color: #f9f9f9;
  margin-left: 17%;
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.caixinha {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
  font-size: 75%;
  color: rgb(95, 95, 95);
  border: 1px solid;
}

.leitura button {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente os elementos dentro do contêiner .leitura */
  padding: 10px 20px;
  background-color: #ffffff;
  color: #676767;
  border: 1px solid #67676770;
  border-radius: 10px;
  cursor: pointer;
}

.box {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #333;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.inputtext {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #676767;
  border: 1px solid #67676770;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 10px;
}

.button-container button:last-child {
  margin-right: 0;
}

.titulo {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

.box {
  border: 0.1rem solid #67676770; /* Convertido para rem */
  border-radius: 1rem; /* Convertido para rem */
  padding: 1rem; /* Convertido para rem */
  margin-bottom: 1.5rem; /* Convertido para rem */
  background-color: #f9f9f9;
}

.textointerno {
  font-weight: bold;
}

.inputtext,
.inputtextG {
  width: 95%;
  padding: 0.5rem;
  padding-right: 0px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
}
.textointerno {
  margin-right: 10%;
}

.inputtextG {
  height: 100px;
}

.data {
  color: #676767d0;
  font-size: 110%;
  border: 1px solid #67676770;
  border-radius: 5px;
  height: 2rem;
  font-family: Helvetica, sans-serif;
  text-indent: 0.2rem;
}

.box ul,
.box ol {
  list-style-type: none;
}

.leitura button span {
  text-align: center;
  align-self: center;
  align-content: center;
  margin-left: 5px;
  align-items: center;
}
.base h6 {
  margin-top: 100%;
  color: #676767;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 5%; /* Adiciona um espaço superior */
}
